* {
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
.App{
  display: flex;
  flex-direction: row;
}
header{
  border: 2px solid rgb(37, 66, 57);
  margin: auto;
  padding: 1%;
  color: rgb(37, 66, 57);

}
header nav{
  margin-left: 25%;
}
button{
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background:rgb(37, 66, 57);
padding: 10px;
border-radius: 5px;
border: none;
transition: all 0.4s ease 0s;
margin-bottom: 5px;
justify-content: center;
}
.address{
  margin-left: 5%;
}
.address p {
  font-weight: bold;
}
.categories{
  display:flex;
  font-size: small;
}
.menuCategories{
  flex-basis: 10%;
}
.menuItems{
  list-style-type: circle;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightgrey;
}